<div *ngIf="!detalle">
    <app-search (buscarEmmiter)="loadPersona($event)"></app-search>
    <app-list [listaPersonas]="listaPersonas" (personaEmmiter)="recibePersona($event)" [total]="total"
              [siguiente]="siguiente" [anterior]="anterior" [paginasFaltantes]="paginasFaltantes"
              (paginadorEmmiter)="loadPersonasList($event)"></app-list>
</div>
<div *ngIf="detalle">
    <app-detail [persona]="persona" (detailEmmiter)="recibeVolver($event)"></app-detail>
</div>

