<div *ngIf="!detalle">
    <app-search (buscarEmmiter)="loadPlaneta($event)"></app-search>
    <app-list [listaPlanetas]="listaPlanetas" (planetaEmmiter)="recibePlaneta($event)" [total]="total"
              [siguiente]="siguiente" [anterior]="anterior" [paginasFaltantes]="paginasFaltantes"
              (paginadorEmmiter)="loadPlanetaList($event)"></app-list>
</div>
<div *ngIf="detalle">
    <app-detail [planeta]="planeta" (detailEmmiter)="recibeVolver($event)"></app-detail>
</div>
