@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500,600,700|Monoton|Plaster);

body{
  background-color:black;
  color:white;
  margin:0;
  font-family:'Fira Sans', sans-serif;
}

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
  cursor:default;
}

.hypertube {
  font-family: 'Plaster', cursive;
  color: #E59500;
  text-transform:uppercase;
}

.not-found{
  position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
  .not-found .error {
    transition: all .5s;
    font-size:5em;
    margin-bottom:30px;
  }
  h2{
     transition: all .5s;
     color: #E59500;
     margin:0;
  }
  h3 {
    cursor:pointer;
    color: #454545;
    transition: all .5s;
    margin:10px;
    }
  h3:hover {
    color: #E59500;
  
}

@media screen and (max-width:800px){
  .not-found .error {
      font-size:150px;
    }
  
}

@media screen and (max-width:450px){
  .not-found  .error {
      font-size:100px;
    }
}