<div class="col-sm-6 mx-auto mt-2">
    <div class="card border-success mb-3">

        <div class="card-body bg-grey-1">
            <div class="card-title  text-uppercase bg-grey-6 font-w-600 font-s-1-5em">
                {{nave.name}}
            </div>
            <h5 class="card-text text-uppercase"><strong class="bg-green-subtitle"> Modelo: <i class="fa fa-bug"
                        aria-hidden="true"></i></strong>
                {{nave.model}}</h5>
            <p class="card-text">Tipo: {{nave.starship_class}}</p>
            <p class="card-text">Promedio de vida: {{nave.consumables}}</p>
            <p class="card-text">Precio: {{nave.cost_in_credits | currency}}</p>
            <p class="card-text">Capacidad: {{nave.cargo_capacity | number}}</p>
            <p class="card-text">Tamaño: {{nave.length}}</p>
            <p class="card-text">Fabricador: {{nave.manufacturer}}</p>
            <p class="card-text">Pasajeros: <i class="fa fa-language" aria-hidden="true"></i> {{nave.passengers | number}}</p>
            <p class="card-text text-muted">Creado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{nave.created | date }}</p>
            <p class="card-text text-muted">Editado: <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{nave.edited | date }}</p>

        </div>
        <div class="card-footer bg-transparent border-success">
            <a (click)="volver()" class="card-link text-success"><i class="fa fa-arrow-circle-left"
                    aria-hidden="true"></i>
                Volver</a>
        </div>
    </div>
</div>
