<app-nav></app-nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Nuestra api ilustra manejo Anguar + Swapi </span>
    </div>
</footer>