<div *ngIf="!detalle">
    <app-search (buscarEmmiter)="loadPelicula($event)"></app-search>
    <app-list [listaPeliculas]="listaPeliculas" (peliculaEmmiter)="recibePelicula($event)" [total]="total"
              [siguiente]="siguiente" [anterior]="anterior" [paginasFaltantes]="paginasFaltantes"
              (paginadorEmmiter)="loadPeliculaList($event)"></app-list>
</div>
<div *ngIf="detalle">
    <app-detail [pelicula]="pelicula" (detailEmmiter)="recibeVolver($event)"></app-detail>
</div>