<div *ngIf="!detalle">
    <app-search (buscarEmmiter)="loadNave($event)"></app-search>
    <app-list [listaNaves]="listaNaves" (navesEmmiter)="recibeNave($event)" [total]="total"
              [siguiente]="siguiente" [anterior]="anterior" [paginasFaltantes]="paginasFaltantes"
              (paginadorEmmiter)="loadVaneList($event)"></app-list>
</div>
<div *ngIf="detalle">
    <app-detalle [nave]="nave" (detailEmmiter)="recibeVolver($event)"></app-detalle>
</div> 
