<div class="row">
    <div class="col-sm-12 mt-4">
        <form [formGroup]="searchForm" (ngSubmit)="buscar()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" 
                    formControlName="nombre"
                    placeholder="Nombre de la especie"
                    aria-label="Nombre de la especie" aria-describedby="button-addon2"/>
              
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"  id="button-addon2" [disabled]="f.invalid"
                        >buscar</button>
                </div>
            </div>
            <div *ngIf="(f.submitted || f.nombre.touched) && f.nombre.errors">
                <app-alert [message]="messageError"></app-alert>
            </div>
               
         
        </form>
    </div>
</div>